<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('partials/header') %>
    <div class="container">
      <h1>Welcome to airbnb</h1>
      <h2>Here are our registered homes:</h2>
      <ul>
        <% homes.forEach(home=> { %>
          <li>
            <h3>
              <%= home.name %>
            </h3>
            <p>
              <%= home._id %>
            </p>
            <p>
              <%= home.location %>
            </p>
            <p>Price per night: $<%= home.price %>
            </p>
            <p>
              <!-- passed variable of home  -->
              <%- include('partials/favourites', {home:home} ) %>
            </p>
            <a href="/homes/<%=home._id%>">Details</a>
            <a href="/host/edit-home/<%=home._id%>">Edit</a>
            <button onclick="deleteHome('<%= home._id %>')">Delete</button>
          </li>
          <% }) %>
      </ul>
      <a href="/host/add-home" class="btn">Add Home</a>
    </div>
</body>

<script>
  async function deleteHome(id) {
    console.log("Delete home", id);
    try {
      const res = await fetch(`/host/delete-home/${id}`, { method: "DELETE" });
      if (res.ok) {
        alert("Home deleted successfully");
        location.reload();
      } else {
        alert("Failed to delete home");
      }
    } catch (error) {
      console.error("Error deleting home:", error);
      alert("An error occurred while deleting the home");
    }
  }
</script>

</html>